*{
    padding: 0;
    margin: 0;
}
body{
    background-color: blue;
}
#Encabezado{
    height: 7em;
    background-color: rgb(0, 0, 0);
    margin: auto;
    text-align: center;
    color: white;
}
#Barra_Navegacion{
    background-color: rgb(142, 71, 175);
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 768px) {
    #Barra_Navegacion{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

#Barra_Navegacion a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 1em;
}

#Barra_Navegacion a:hover {
    background-color: white;
    color: black;
}

#contenedor-imagenes {
    display: block;
    text-align: center;
}

@media (min-width: 768px){
    #contenedor-imagenes {
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: center;
    }
}

.imagenes img {
    width: 430px;
    height: 350px;
}
.imagenes {
    margin: 1em 1.5em;
    border: 10px solid;
    background-color: rgb(0, 0, 0);
    padding: auto;
    text-align: center;
}
.imagenes-texto{
    margin: auto;  
}

.pie_navegacion{
    background-color: rgb(142, 71, 175);
    text-align: center;
    color: white;
    height: 5.5em;
}
.texto{
    text-align: justify;
    font-size: medium;
    color: white;
    text-align: center;
}
.texto2{
    text-align: justify;
    padding-left: 1.5%;
    padding-right: 2.5%;
    color: white;
    font-size: 1.5em;
}
.encabezado_portada{
    color: white;
    text-align: center;
}
#pie_navegacion{
    height: 5.5%;
    background-color: rgb(142, 71, 175);
    text-align: center;
    color: white;
}
#Barra_Navegacion1{
    height: 5%;
    background-color: rgb(142, 71, 175);
    margin: auto;
    text-align: center;
}
#contenedor-imagenes1 {
    text-align: center;

}
.imagenes1 {
    border: 10px solid;
    background-color: blue;
    padding: auto;
    text-align: center;
    color: blue;
}
img{
    width: 450px;
    height: 400px;
}
.texto3{
    text-align: center;
    padding-left: 1%;
    padding-right: 2%;
    color: white;
}
.pie_navegacion2{
    height: 10%;
    background-color: rgb(142, 71, 175);
    text-align: center;
    color: white;
}